/* Notas para coisas importantes pra estilo
/* Fonte = Russo One Regular
/* Cores = 5E80F9 (Azul Marinha Escuro)
/* FFFFFF = Branco Osso 1E1E1E = Preto comum
/* D9D9D9 = Cinza Pó */

.dark-marine-blue { background-color: #3852ad ;}
.bone-white {color: #FFFFFF;}
.fintech-black {color: #1e1e1e ;}
.ash-gray {color: #d9d9d9 }
.bg-ash-gray {background-color: #d9d9d9;}
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ........................................................... */

.font-size100px {
    font-size: 75px;
}
